  
html {
    font-size: 10px;
}

body {
    
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 1.6rem;
    background-color: lightgray;
}
.wrapper{

    width: 1024px;
    margin: 0 auto;
    justify-content: space-around;

}
.main{
    justify-content: space-around;
}
.header__image{
    width: 300px;
}
.header{
    display: flex;
    justify-content: space-around;
    background-color: lightcyan;
}

.header__text{
    width: 300px;
}
*{
    margin: 0;
}