  
html {
  font-size: 10px;
}

body {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 1.6rem;
  background-color: lightgray;
}
.wrapper{
  width: 1024px;
  margin: 0 auto;
  justify-content: space-around;
  position: relative;

}
.main{
  justify-content: space-around;
}
.header__image{
  width: 100%;
}
.header{
  display: flex;
  justify-content: space-around;
  background-color: lightcyan;
}

.header__text{
  width: 100%;
}

.footer {
  padding-top: 15px;
  padding-bottom: 10px;
  margin: 10px auto;
  background-color: #7c222211;
}
.container2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1400px;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.rs {
width: 100px;
height: 50px;
  
}
.date {
  padding: 20px;
}


.github {
  margin-right: 180px;
  font-size: 30px;
  text-decoration: none;
  color: inherit;
}

.rsschool {
  margin-top: 10px;
  margin-right: 110px;
  height: 40px;
  width: 80px;
}
li {
  padding: 10px 0;
  list-style-type : none;
  text-decoration: none;
}
a {
  
  text-decoration: none;
  color: black;
}
.code {
  background-color: #7c222211 ;
}

h3,h2 {
  padding-left:  10%;
}
h1 {
  margin: 0 auto;
  padding-left: 30%;
}
.nav_plane {
  display: flex;
  background-color:blueviolet;
  position: sticky;
  top: 20px;
}
.nav_skills {
  display: flex;
}
.site-navigation {
  display: flex;
  align-self:center ;
  justify-content: space-around;
}
.site-navigation__item {
  justify-content: space-around;
}
.site-navigation__link {
  display: inline-block;
  padding: 10px;
  justify-content: space-around;
}
.site-navigation__item::before {
  position: absolute;
  display: block;
  content: "";
  width: 0;
  right: 0;
  height: 3px;
  bottom: 5px;
  background-color: rebeccapurple;
  transition: width ease-in-out 1s;
}
.site-navigation__item:hover::before {
  width: 100%;
  left: 0;
  background-color: red;
  transition: width ease-in-out 1s;
}


#about,#education,#code,#lang,#experience,#skills,#projects {
  padding-top: 110px;
}
